  /*----------------------------------------------------*/
 /*---------- VARIABLES ET IMPORT LIBRAIRIES ----------*/
/*----------------------------------------------------*/

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$grey-background:#f7f6f6;
$grey-search:#e4e2e2;
$box-shadow-btn: 0em 0.2em 0.5em 0px #9c9999;
$box-shadow:0.1em 0.5em 1em #d4d4d4;
$margin-sections : 1em;
$linear-gradient : linear-gradient($color-secondary, $color-primary);
$roboto-cie: Roboto, Arial, "Courier New", Verdana;
$shrikhand-cie : Shrikhand, Arial, "Courier New", Verdana;

@import "libs/mixins.scss";


  /* ---------------------------------------------------------------- */
 /* ----------------------------BODY-------------------------------- */
/* -------------------site en mobile first (I8)-------------------- */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 2; 
  position: relative;
}

  /* ---------------------------------------------------------------- */
 /* -------------------------PAGE ACCUEIL--------------------------- */
/* ---------------------------------------------------------------- */

/*------ Polices ------*/
h1, h2, h3, h4, p, a, .btn, .srch {
    font-family: $roboto-cie; 
}

h1, h2, h3, h4{
    font-weight: bold;
}

footer h2, .logo{
    font-family: $shrikhand-cie; 
}

  /*-------------------------------*/
 /*----------- LOADER ------------*/
/*-------------------------------*/
.loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.76);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    animation: loader 2s forwards;
    animation-delay: 4000ms;
    -webkit-transition: 2s -webkit-transform;      
   -moz-transition: 2s -mos-transform;
    -ms-transition: 2s -ms-transform;
   -o-transition: 2s -o-transform;   
   transition: 2s transform;
   .loader_txt{
        font-family: $shrikhand-cie;
        color:$color-primary;
        align-self: center;
        text-shadow: 0em 1.7em 0em $color-secondary;
        border-bottom: 0.2em dotted;
        border-color: $color-tertiary;
        font-size: 2em;
        animation: loader_txt 4s;
        -webkit-transition: 4s -webkit-transform;      
        -moz-transition: 4s -mos-transform;
        -ms-transition: 4s -ms-transform;
        -o-transition: 4s -o-transform;   
        transition: 4s transform;
    }
    .fa-utensils{
        color:$color-tertiary;
        text-shadow: 0.1em 0em 0em $color-primary;
        font-size: 3em;
        align-self: center;
        margin-bottom: 0.5em;
        border: 0.2em double;
        border-color: $color-secondary;
        border-radius: 1.5em;
        padding: 0.4em;
        padding-right: 0.5em;
        animation: ustensils 4s infinite;
        -webkit-transition: 4s -webkit-transform;      
        -moz-transition: 4s -mos-transform;
         -ms-transition: 4s -ms-transform;
        -o-transition: 4s -o-transform;   
        transition: 4s transform;
    }
}

@keyframes loader{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes loader_txt{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes ustensils{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(180deg);
    }
    to{
        transform: rotate(360deg);
    }
}

/*--- Boutons ---*/
.btn {
    background: $linear-gradient;
    color: white;
    border-radius: 2em;
    border: none;
    padding: 1em;
    font-size: 1em;
    width: 12em;
    box-shadow: $box-shadow-btn;
    margin: 1em;
    align-self: center;
        &:hover{
            opacity: 0.8;
            box-shadow: 0em 0.2em 0.5em 0px #1a1919;
        }
}

.btn-s1{
    width: 14em;
}

  /* ---------------------------------------------------------------- */
 /* ----------------------------HEADER------------------------------ */
/* ---------------------------------------------------------------- */
header {
    padding: 1em;
    .logo {
        font-size:2em;
        margin: 0;
        text-align: center;
    }
} 

  /* ---------------------------------------------------------------- */
 /* ----------------------------SECTION 1--------------------------- */
/* ---------------------------------------------------------------- */
#section1{
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
        text-align: center;
        padding: 1em;
        padding-left: 5em;
        background-color:$grey-search;
        box-shadow: 0px 3px 4px 0px #b5b5b5 inset;
    }
    .srch {
        border: none;
        padding-left: 1em;
        font-size: 1em;
        background-color: $grey-search;
    }
    h1{
        margin-bottom: 0em;
        margin-left: 2em;
        margin-right: 2em;
        margin-top: 1.5em;
        font-size: 1.5em;
        color: black;    
    }  
    h3 {
        color: grey;
        font-size: 1em;
        font-weight: 100;
        margin: 1em; 
    }
    h1, h3 {
        text-align: center; 
    }
    #presentation{
        background-color: $grey-background;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 1em;
        padding-bottom: 3em;
    }
} 

  /* ---------------------------------------------------------------- */
 /* --------------------------SECTION 2----------------------------- */
/* ---------------------------------------------------------------- */
#section2 {
    margin: $margin-sections;
    padding-top: 1em;
    .liste_instructions {
        display: flex;
        flex-direction: column; 
    }
    .numbers {
        color: white;
        border: 0.5em $color-primary solid;
        background-color: $color-primary;
        border-radius: 2em; 
        padding-left: 0.3em;
        padding-right: 0.3em;
        text-align: center;
        margin-right: -1em;
        margin-top: 2em;
        margin-bottom: 3.7em;
        font-size: 0.8em;
        height: fit-content;
        position: sticky;
    }
    .fas {
        color: grey;
        padding: 1em;
        font-size: 1.1em;
        padding-left: 1.5em; 
    }
    p {
        font-weight: bold;
        padding-left: 0.5em;
    }
    .instructions {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.5em;
    }
    .box {
        box-shadow: $box-shadow;
        background-color: $grey-background;
        border-radius: 1.5em;
        padding-left: 1em;
        padding-top: 1em;
        padding: 0.8em;
        width: 100%;
    }
}

#section2 > div > div:nth-child(3) > div > i {
    color: $color-primary; 
}

#section2 > div > div:nth-child(3) > div {
    background-color: #e9def7de; 
}

  /* ---------------------------------------------------------------- */
 /* -------------------------SECTION 3------------------------------ */
/* ---------------------------------------------------------------- */
#articles {
    background-color: $grey-background;
    padding: 1em;
    padding-bottom: 2.5em;
    padding-top: 2em;
}

/*---Etiquette Nouveau---*/
#articles a .new {
    background-color: $color-tertiary;
    color: #278870;
    padding: 0.5em;
    font-weight: 600;
    width: 5em;
    text-align: center; 
    position: sticky;
    float: right;
    margin-right: 1em;
    margin-bottom: -5em;
    margin-top: 1em;
}

/*---Aperçus des restaurants---*/
#articles{ 
    .img_a {
        height: 10em;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em; 
    }
    .img_resto {
        position: relative;
        width: 100%;
        height: 68.5%;
    }
    .carte {
        border-radius: 1em;
        box-shadow: $box-shadow;
        margin-bottom: 1em; 
        background-color: white;
    }
    a {
        text-decoration: none;
        color: black;
        border-bottom: 0; 
    }
    h4 {
        font-weight: 600;
        font-size: 1em;
        margin: 0em;
        padding-left: 0.5em; 
    }
    p {
        margin: 0.5em; 
    }
    .description {
        padding: 0.5em;
    }  
}

  /*--------------------------------*/
 /*-------- Animation Coeur -------*/
/*--------------------------------*/

/*---Coeur vide---*/

[id="likes"],
[id="likes2"],
[id="likes3"],
[id="likes4"]{
    float: right;
    margin-top: -3em;
    margin-right: 2.3em;
    appearance: none;
}

[for="likes"],
[for="likes2"],
[for="likes3"],
[for="likes4"]{
.no-like {
    float: right;
    font-size: 1.5em;
    margin-right: 1em; 
    margin-top: -2em;
    position: relative;
    display: block;
    padding-right: 0.1em;
}
.full-like{
    opacity: 0;
    position: relative;
}
}

/*--- Coeur plein ---*/

[id="likes"]:checked +label,
[id="likes2"]:checked +label,
[id="likes3"]:checked +label,
[id="likes4"]:checked +label{
.no-like{
    @include empty-heart_animation;
}
.full-like{
    @include full-heart_animation;
}
}

@keyframes vanish_coeur{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes remplissage_coeur{ 
    0%{ 
        transform: scale(0); 
    } 
    100%{ 
        transform: scale(1); 
    } 
} 

  /* ---------------------------------------------------------------- */
 /* -----------------------------FOOTER----------------------------- */
/* ---------------------------------------------------------------- */
footer {
    background-color: #404040;
    padding: 1.5em; 
    h2 {
        color: white;
        font-size: 1.2em;
        font-weight: 400;
        margin-top: 0; 
    }
} 

/*---Liens---*/
footer{ 
    a {
        text-decoration: none;
        color: white;
        padding-bottom: 0.5em;
        font-family: $roboto-cie;
    }
    .liens_footer {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
    } 
}

footer > div > div:nth-child(2) > a{
    padding-left: 0.2em;
}

footer > div > div:nth-child(1) > a{
    padding-left: 0.5em;
}

/*---Icones---*/
footer {
    .fas {
        color: white;
        margin-right: 0.5em;
        font-size: 0.8em; 
    }
    .icones_footer {
        display: inline; 
        padding-bottom: 0.5em;
    }
}

  /* ---------------------------------------------------------------- */
 /* -----------------------PAGES ANNEXES---------------------------- */
/* ---------------------------------------------------------------- */
.pages {
    color: black;
    font-family: $roboto-cie; 
}

/*---Header---*/
.header_pages{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .logo_txt{
        width: 100%;
    }
    .logo_pages{
        font-family: $shrikhand-cie;
        font-size: 2em;
        margin: 0em;
        text-align: center;
    }
    .header_pages a{
        text-decoration: none;
        color: black;
        margin-right: 0.5em;
    }
}
       
.img_pages{
    object-fit: cover;
    width: 100%;
    height: 15em;
}

/*---Corps de Page---*/
.bloc_pages{
    margin-top: -3em;
    padding-bottom: 4em;
    background-color: white;
    position: relative;
    border-radius: 2em;
    background-color: $grey-background;
}

/*---Titre Page---*/
.titre_pages{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em;
}

.h1_pages{
    color:black;
    font-family: $shrikhand-cie;
    font-size: 1.8em;
    padding-left: 0.5em;
}

  /*--------------------------------*/
 /*-------- Animation Coeur -------*/
/*--------------------------------*/

/*---Coeur vide---*/ 
[id="likes_pages"]{ 
    float: right;  
    appearance: none; 
} 

[for="likes_pages"]{ 
    .no-like_pages { 
        margin-right: 1em;
        margin-top: 1.3em;
        font-size: 1.5em; 
        position: relative; 
        z-index: 1; 
        display: block;
    } 
    .full-like_pages{ 
        margin-top: -1.2em;
        z-index: 2; 
        opacity: 0; 
        position: relative; 
    } 
} 

/*---Coeur plein---*/ 
[id="likes_pages"]:checked +label{ 
    .no-like_pages{ 
        @include empty-heart_animation;
    } 
    .full-like_pages{ 
        @include full-heart_animation; 
    } 
} 


/*---Menus---*/
.menu_complet{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*--- Titres ---*/
    .h2_pages{
        font-weight: 100;
        font-size: 1.1em;
        margin-bottom: 0em;
        margin-top: 0.5em;
    }
    .line{
        width: 2.5em;
        border: solid $color-tertiary;
        margin: 0em;
        margin-left: 0.1em;
        margin-bottom: 1.5em;
        margin-top: 0.5em;
    }
}

/*--- Gestions des plats/menus ---*/
.plats{
    border-radius: 1em;
    box-shadow: $box-shadow;
    margin-bottom: 0.5em;
    background-color: white;
    height: 4em;
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.plats_description_prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-right: 1em;
    .plats_description{
        width: 80%;
        margin: 0.5em;
        float: left;
        z-index: 1;
        display: block;
        .h3_pages, .p_pages{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            text-align: start;
            display: block;
            font-family: $roboto-cie
        }
        .h3_pages{
            margin-top: 0em;
            margin-bottom: 0.2em;
            font-size: 1em;
            font-weight: bold;
            
        }
        .p_pages{
            margin: 0em;
            font-size: 0.84em;
        }
    }
    .prix{
    font-family: $roboto-cie;
    font-size: 0.8em;
    font-weight: bold;
    margin-top: 2em;
    }
}

/*--- Animation Validation Plats---*/
.validation{
    right: 0em;
    background-color: $color-tertiary;
    border-radius: 0 1em 1em 0;
    height: 4em;
    width: 3.5em;
    transform: scaleX(0);
    transition: transform 2s;
    display: none;
    .fa-check-circle{
        color:white;
        font-size: 1.5em;
        z-index: 1;
        margin-top: 0.8em;
        padding-left: 0.5em;
        display: none; 
    }
}

[id="choix1"],
[id="choix2"],
[id="choix3"],
[id="choix4"],
[id="choix5"],
[id="choix6"],
[id="choix7"],
[id="choix8"],
[id="choix9"],
[id="choix10"]{
    appearance: none;
}

[for="choix1"],
[for="choix2"],
[for="choix3"],
[for="choix4"],
[for="choix5"],
[for="choix6"],
[for="choix7"],
[for="choix8"],
[for="choix9"],
[for="choix10"]{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

  /*--------------------------------*/
 /*--- Animations Pages Annexes ---*/
/*--------------------------------*/

/*--- Sélection des plats ---*/
[id="choix1"]:checked + label,
[id="choix2"]:checked + label,
[id="choix3"]:checked + label,
[id="choix4"]:checked + label,
[id="choix5"]:checked + label,
[id="choix6"]:checked + label,
[id="choix7"]:checked + label,
[id="choix8"]:checked + label,
[id="choix9"]:checked + label,
[id="choix10"]:checked + label{
    .fa-check-circle{
        display: block;
        animation: rotation_check 1s forwards;
        transform-origin: center;
        transition: transform 1s ease-in;
        -webkit-transition: 1s -webkit-transform;      
        -moz-transition: 1s -mos-transform;
         -ms-transition: 1s -ms-transform;
        -o-transition: 1s -o-transform; 
    }
    .validation{
        display: block;
        animation: anim_choix 1s forwards;
        transform-origin: right;
        transition: transform 1s ease-in;
        -webkit-transition: 1s -webkit-transform;      
        -moz-transition: 1s -mos-transform;
         -ms-transition: 1s -ms-transform;
        -o-transition: 1s -o-transform; 
    }
    .plats_description{
        margin-right: -1em;
    }
    .plats_description_prix{
        width: 80%;
        margin-right: -1em;
    }
}

@keyframes rotation_check{
    0%{
        transform: translate(0.5em) rotate(360deg);
    }
    100%{
        transform: translate(-0em) rotate(0deg);
    }
}

@keyframes anim_choix{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

/*---Apparition des menus---*/
.menu{
    margin-right: 1em;
    margin-left: 1em;
    margin-bottom: 2.5em;
    display: flex;
    flex-direction: column;
}
 
.entree{
    animation: menus 2s backwards;
    transition: 2s;
}

.pprincipal{
    animation: menus 2s backwards;
    transition: 2s;
    animation-delay: 1s;
}

.dessert{
    animation: menus 2s backwards;
    transition: 2s;
    animation-delay: 2s;
}

@keyframes menus{
     from{
        transform: translateY(100px);
        opacity: 0;
     }
     to{
        transform: translateY(0px);
        opacity: 1;
    }
}

/*---Bouton de commande---*/
.btn_pageannexe{
    display: flex;
    justify-content: center;
}

  /* ---------------------------------------------------------------- */
 /* ----------------------------RESPONSIVE-------------------------- */
/* ---------------------------------------------------------------- */


  /* ---------------------------------------------------------------- */
 /* ---------------------RESPONSIVE PETITS ECRANS------------------- */ 
/* ---------------------------------------------------------------- */
@media screen and (min-width : 576px){

/*--- Accueil ---*/
/*--- Fonctionnement ---*/
#section2{ 
    .liste_instructions{
        padding-left: 10%;
    }
    .box{
        width: 80%;
    }       
}

/*--- Restaurants ---*/
#liste_restaurants{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#articles .carte{
    width: 80%;
}

/*--- Footer ---*/
footer{
    padding-top: 1.5em;
    h2{
    text-align: center;
    }
    .liens_footer{
        align-items: center;
    }
}

/*---Pages Annexes---*/ 
.header_pages a:hover{
    color: $color-tertiary;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2_pages, .line{
    align-self: flex-start ;
}

/*--- Ajustement animation de validation des plats ---*/
[id="choix1"]:checked + label,
[id="choix2"]:checked + label,
[id="choix3"]:checked + label,
[id="choix4"]:checked + label,
[id="choix5"]:checked + label,
[id="choix6"]:checked + label,
[id="choix7"]:checked + label,
[id="choix8"]:checked + label,
[id="choix9"]:checked + label,
[id="choix10"]:checked + label{
    .plats_description_prix{
        width: 80%;
    }
}
}

/* ---------------------------------------------------------------- */
 /* -----------------------RESPONSIVE TABLETTE---------------------- */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 768px) { 

/*---Accueil---*/
/*---Fonctionnement---*/
#section2{
    .liste_instructions{
        padding-left: 30%;
    }
    .box{
        width: 50%;
    }
}

/*---Restaurants*/ 
#liste_restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/*---Pages Annexes---*/ 
.header_pages a:active{
    color: $color-tertiary;
}

.menu_complet{
    align-items: center;
}

.menu{
    width: 60%;
}

/*--- Ajustement animation de validation des plats ---*/
[id="choix1"]:checked + label,
[id="choix2"]:checked + label,
[id="choix3"]:checked + label,
[id="choix4"]:checked + label,
[id="choix5"]:checked + label,
[id="choix6"]:checked + label,
[id="choix7"]:checked + label,
[id="choix8"]:checked + label,
[id="choix9"]:checked + label,
[id="choix10"]:checked + label{
    .plats_description_prix{
        width: 85%;
    }
}
}

  /* ---------------------------------------------------------------- */
 /* ---------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS PC-------- */
/* ---------------------------------------------------------------- */
@media screen and (min-width : 962px){
#section2 h2{
    margin-left: 1.5em;
}
    
#section2 {
    .liste_instructions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3%;
    }
    .box{
        width: 100%;
    }
    p{
        padding-right: 1em;
    }
}   
    
/*---RESTAURANTS---*/
#articles {
    h2{
        margin-left: 1.5em;
    }
    .carte{
        width: 45%;
        margin-bottom: 3em;
        margin: 1em;
        &:hover{
            transform: scale(1.1);
            transition: transform 1s;
        }
    }
}    
    
#liste_restaurants{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em;
}
}

  /* ---------------------------------------------------------------- */
 /* ----------------------RESPONSIVE DESKTOP------------------------ */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 1264px){

/*---SECTION 2---*/
#section2{
    h2{
        margin-left: 1.5em;
    }
    .liste_instructions{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    p{
        padding-right: 1em;
    }
    .box{
        width: 80%;
        &:hover{
            background-color: #e9def7de ;
        }
    }
    .instructions{
        width: 80%;
    }
    
}

#section2 > div > div:nth-child(3) > div {
    background-color: $grey-background; 
}

/*---RESTAURANTS---*/
#articles{ 
    h2{
       margin-left: 1.5em;
    }
    .carte{
        width: 35%;
        margin-bottom: 3em;
        margin: 1em;
        &:hover{
            transform: scale(1.1);
            transition: transform 1s;
        }
    }
}

#liste_restaurants{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
}

/*---FOOTER---*/
footer{
    padding-top: 1.5em;
    h2{
        text-align: center;
    }
    .liens_footer{
        align-items: center;
    }
}

/*---PAGES ANNEXES---*/
.titre_pages{
    padding-left: 1em;
    padding-right: 1em;
}

.header_pages a:hover{
    color: $color-tertiary;
}

.h2_pages{
    padding-left: 0em;
}

.line{
    margin-left: 0em;
}

.menu{
    width: 40%;
}

.plats{
    height: 4em;
    &:hover{
        transform: scale(1.1);
        transition: transform 1s;
    }
}
}