@charset "UTF-8";
/*----------------------------------------------------*/
/*---------- VARIABLES ET IMPORT LIBRAIRIES ----------*/
/*----------------------------------------------------*/
/*--- Coeurs Vides/Pleins ---*/
/* ---------------------------------------------------------------- */
/* ----------------------------BODY-------------------------------- */
/* -------------------site en mobile first (I8)-------------------- */
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  position: relative;
}

/* ---------------------------------------------------------------- */
/* -------------------------PAGE ACCUEIL--------------------------- */
/* ---------------------------------------------------------------- */
/*------ Polices ------*/
h1, h2, h3, h4, p, a, .btn, .srch {
  font-family: Roboto, Arial, "Courier New", Verdana;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

footer h2, .logo {
  font-family: Shrikhand, Arial, "Courier New", Verdana;
}

/*-------------------------------*/
/*----------- LOADER ------------*/
/*-------------------------------*/
.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.76);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  animation: loader 2s forwards;
  animation-delay: 4000ms;
  -webkit-transition: 2s -webkit-transform;
  -moz-transition: 2s -mos-transform;
  -ms-transition: 2s -ms-transform;
  -o-transition: 2s -o-transform;
  transition: 2s transform;
}
.loader .loader_txt {
  font-family: Shrikhand, Arial, "Courier New", Verdana;
  color: #9356DC;
  align-self: center;
  text-shadow: 0em 1.7em 0em #FF79DA;
  border-bottom: 0.2em dotted;
  border-color: #99E2D0;
  font-size: 2em;
  animation: loader_txt 4s;
  -webkit-transition: 4s -webkit-transform;
  -moz-transition: 4s -mos-transform;
  -ms-transition: 4s -ms-transform;
  -o-transition: 4s -o-transform;
  transition: 4s transform;
}
.loader .fa-utensils {
  color: #99E2D0;
  text-shadow: 0.1em 0em 0em #9356DC;
  font-size: 3em;
  align-self: center;
  margin-bottom: 0.5em;
  border: 0.2em double;
  border-color: #FF79DA;
  border-radius: 1.5em;
  padding: 0.4em;
  padding-right: 0.5em;
  animation: ustensils 4s infinite;
  -webkit-transition: 4s -webkit-transform;
  -moz-transition: 4s -mos-transform;
  -ms-transition: 4s -ms-transform;
  -o-transition: 4s -o-transform;
  transition: 4s transform;
}

@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loader_txt {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes ustensils {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*--- Boutons ---*/
.btn {
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  border-radius: 2em;
  border: none;
  padding: 1em;
  font-size: 1em;
  width: 12em;
  box-shadow: 0em 0.2em 0.5em 0px #9c9999;
  margin: 1em;
  align-self: center;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0em 0.2em 0.5em 0px #1a1919;
}

.btn-s1 {
  width: 14em;
}

/* ---------------------------------------------------------------- */
/* ----------------------------HEADER------------------------------ */
/* ---------------------------------------------------------------- */
header {
  padding: 1em;
}
header .logo {
  font-size: 2em;
  margin: 0;
  text-align: center;
}

/* ---------------------------------------------------------------- */
/* ----------------------------SECTION 1--------------------------- */
/* ---------------------------------------------------------------- */
#section1 form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  padding: 1em;
  padding-left: 5em;
  background-color: #e4e2e2;
  box-shadow: 0px 3px 4px 0px #b5b5b5 inset;
}
#section1 .srch {
  border: none;
  padding-left: 1em;
  font-size: 1em;
  background-color: #e4e2e2;
}
#section1 h1 {
  margin-bottom: 0em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 1.5em;
  font-size: 1.5em;
  color: black;
}
#section1 h3 {
  color: grey;
  font-size: 1em;
  font-weight: 100;
  margin: 1em;
}
#section1 h1, #section1 h3 {
  text-align: center;
}
#section1 #presentation {
  background-color: #f7f6f6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 3em;
}

/* ---------------------------------------------------------------- */
/* --------------------------SECTION 2----------------------------- */
/* ---------------------------------------------------------------- */
#section2 {
  margin: 1em;
  padding-top: 1em;
}
#section2 .liste_instructions {
  display: flex;
  flex-direction: column;
}
#section2 .numbers {
  color: white;
  border: 0.5em #9356DC solid;
  background-color: #9356DC;
  border-radius: 2em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  text-align: center;
  margin-right: -1em;
  margin-top: 2em;
  margin-bottom: 3.7em;
  font-size: 0.8em;
  height: fit-content;
  position: sticky;
}
#section2 .fas {
  color: grey;
  padding: 1em;
  font-size: 1.1em;
  padding-left: 1.5em;
}
#section2 p {
  font-weight: bold;
  padding-left: 0.5em;
}
#section2 .instructions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
}
#section2 .box {
  box-shadow: 0.1em 0.5em 1em #d4d4d4;
  background-color: #f7f6f6;
  border-radius: 1.5em;
  padding-left: 1em;
  padding-top: 1em;
  padding: 0.8em;
  width: 100%;
}

#section2 > div > div:nth-child(3) > div > i {
  color: #9356DC;
}

#section2 > div > div:nth-child(3) > div {
  background-color: #e9def7de;
}

/* ---------------------------------------------------------------- */
/* -------------------------SECTION 3------------------------------ */
/* ---------------------------------------------------------------- */
#articles {
  background-color: #f7f6f6;
  padding: 1em;
  padding-bottom: 2.5em;
  padding-top: 2em;
}

/*---Etiquette Nouveau---*/
#articles a .new {
  background-color: #99E2D0;
  color: #278870;
  padding: 0.5em;
  font-weight: 600;
  width: 5em;
  text-align: center;
  position: sticky;
  float: right;
  margin-right: 1em;
  margin-bottom: -5em;
  margin-top: 1em;
}

/*---Aperçus des restaurants---*/
#articles .img_a {
  height: 10em;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
#articles .img_resto {
  position: relative;
  width: 100%;
  height: 68.5%;
}
#articles .carte {
  border-radius: 1em;
  box-shadow: 0.1em 0.5em 1em #d4d4d4;
  margin-bottom: 1em;
  background-color: white;
}
#articles a {
  text-decoration: none;
  color: black;
  border-bottom: 0;
}
#articles h4 {
  font-weight: 600;
  font-size: 1em;
  margin: 0em;
  padding-left: 0.5em;
}
#articles p {
  margin: 0.5em;
}
#articles .description {
  padding: 0.5em;
}

/*--------------------------------*/
/*-------- Animation Coeur -------*/
/*--------------------------------*/
/*---Coeur vide---*/
[id=likes],
[id=likes2],
[id=likes3],
[id=likes4] {
  float: right;
  margin-top: -3em;
  margin-right: 2.3em;
  appearance: none;
}

[for=likes] .no-like,
[for=likes2] .no-like,
[for=likes3] .no-like,
[for=likes4] .no-like {
  float: right;
  font-size: 1.5em;
  margin-right: 1em;
  margin-top: -2em;
  position: relative;
  display: block;
  padding-right: 0.1em;
}
[for=likes] .full-like,
[for=likes2] .full-like,
[for=likes3] .full-like,
[for=likes4] .full-like {
  opacity: 0;
  position: relative;
}

/*--- Coeur plein ---*/
[id=likes]:checked + label .no-like,
[id=likes2]:checked + label .no-like,
[id=likes3]:checked + label .no-like,
[id=likes4]:checked + label .no-like {
  animation: vanish_coeur 1s forwards;
  transform-origin: center;
  transition: transform 1s;
  -webkit-transition: 1s -webkit-transform;
  -moz-transition: 1s -mos-transform;
  -ms-transition: 1s -ms-transform;
  -o-transition: 1s -o-transform;
}
[id=likes]:checked + label .full-like,
[id=likes2]:checked + label .full-like,
[id=likes3]:checked + label .full-like,
[id=likes4]:checked + label .full-like {
  opacity: 1;
  position: relative;
  animation: remplissage_coeur 2s;
  transform-origin: bottom;
  transition: transform 4s;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: 4s -webkit-transform;
  -moz-transition: 4s -mos-transform;
  -ms-transition: 4s -ms-transform;
  -o-transition: 4s -o-transform;
}

@keyframes vanish_coeur {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes remplissage_coeur {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/* ---------------------------------------------------------------- */
/* -----------------------------FOOTER----------------------------- */
/* ---------------------------------------------------------------- */
footer {
  background-color: #404040;
  padding: 1.5em;
}
footer h2 {
  color: white;
  font-size: 1.2em;
  font-weight: 400;
  margin-top: 0;
}

/*---Liens---*/
footer a {
  text-decoration: none;
  color: white;
  padding-bottom: 0.5em;
  font-family: Roboto, Arial, "Courier New", Verdana;
}
footer .liens_footer {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

footer > div > div:nth-child(2) > a {
  padding-left: 0.2em;
}

footer > div > div:nth-child(1) > a {
  padding-left: 0.5em;
}

/*---Icones---*/
footer .fas {
  color: white;
  margin-right: 0.5em;
  font-size: 0.8em;
}
footer .icones_footer {
  display: inline;
  padding-bottom: 0.5em;
}

/* ---------------------------------------------------------------- */
/* -----------------------PAGES ANNEXES---------------------------- */
/* ---------------------------------------------------------------- */
.pages {
  color: black;
  font-family: Roboto, Arial, "Courier New", Verdana;
}

/*---Header---*/
.header_pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header_pages .logo_txt {
  width: 100%;
}
.header_pages .logo_pages {
  font-family: Shrikhand, Arial, "Courier New", Verdana;
  font-size: 2em;
  margin: 0em;
  text-align: center;
}
.header_pages .header_pages a {
  text-decoration: none;
  color: black;
  margin-right: 0.5em;
}

.img_pages {
  object-fit: cover;
  width: 100%;
  height: 15em;
}

/*---Corps de Page---*/
.bloc_pages {
  margin-top: -3em;
  padding-bottom: 4em;
  background-color: white;
  position: relative;
  border-radius: 2em;
  background-color: #f7f6f6;
}

/*---Titre Page---*/
.titre_pages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5em;
}

.h1_pages {
  color: black;
  font-family: Shrikhand, Arial, "Courier New", Verdana;
  font-size: 1.8em;
  padding-left: 0.5em;
}

/*--------------------------------*/
/*-------- Animation Coeur -------*/
/*--------------------------------*/
/*---Coeur vide---*/
[id=likes_pages] {
  float: right;
  appearance: none;
}

[for=likes_pages] .no-like_pages {
  margin-right: 1em;
  margin-top: 1.3em;
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  display: block;
}
[for=likes_pages] .full-like_pages {
  margin-top: -1.2em;
  z-index: 2;
  opacity: 0;
  position: relative;
}

/*---Coeur plein---*/
[id=likes_pages]:checked + label .no-like_pages {
  animation: vanish_coeur 1s forwards;
  transform-origin: center;
  transition: transform 1s;
  -webkit-transition: 1s -webkit-transform;
  -moz-transition: 1s -mos-transform;
  -ms-transition: 1s -ms-transform;
  -o-transition: 1s -o-transform;
}
[id=likes_pages]:checked + label .full-like_pages {
  opacity: 1;
  position: relative;
  animation: remplissage_coeur 2s;
  transform-origin: bottom;
  transition: transform 4s;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-transition: 4s -webkit-transform;
  -moz-transition: 4s -mos-transform;
  -ms-transition: 4s -ms-transform;
  -o-transition: 4s -o-transform;
}

/*---Menus---*/
.menu_complet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*--- Titres ---*/
}
.menu_complet .h2_pages {
  font-weight: 100;
  font-size: 1.1em;
  margin-bottom: 0em;
  margin-top: 0.5em;
}
.menu_complet .line {
  width: 2.5em;
  border: solid #99E2D0;
  margin: 0em;
  margin-left: 0.1em;
  margin-bottom: 1.5em;
  margin-top: 0.5em;
}

/*--- Gestions des plats/menus ---*/
.plats {
  border-radius: 1em;
  box-shadow: 0.1em 0.5em 1em #d4d4d4;
  margin-bottom: 0.5em;
  background-color: white;
  height: 4em;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.plats_description_prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 1em;
}
.plats_description_prix .plats_description {
  width: 80%;
  margin: 0.5em;
  float: left;
  z-index: 1;
  display: block;
}
.plats_description_prix .plats_description .h3_pages, .plats_description_prix .plats_description .p_pages {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: start;
  display: block;
  font-family: Roboto, Arial, "Courier New", Verdana;
}
.plats_description_prix .plats_description .h3_pages {
  margin-top: 0em;
  margin-bottom: 0.2em;
  font-size: 1em;
  font-weight: bold;
}
.plats_description_prix .plats_description .p_pages {
  margin: 0em;
  font-size: 0.84em;
}
.plats_description_prix .prix {
  font-family: Roboto, Arial, "Courier New", Verdana;
  font-size: 0.8em;
  font-weight: bold;
  margin-top: 2em;
}

/*--- Animation Validation Plats---*/
.validation {
  right: 0em;
  background-color: #99E2D0;
  border-radius: 0 1em 1em 0;
  height: 4em;
  width: 3.5em;
  transform: scaleX(0);
  transition: transform 2s;
  display: none;
}
.validation .fa-check-circle {
  color: white;
  font-size: 1.5em;
  z-index: 1;
  margin-top: 0.8em;
  padding-left: 0.5em;
  display: none;
}

[id=choix1],
[id=choix2],
[id=choix3],
[id=choix4],
[id=choix5],
[id=choix6],
[id=choix7],
[id=choix8],
[id=choix9],
[id=choix10] {
  appearance: none;
}

[for=choix1],
[for=choix2],
[for=choix3],
[for=choix4],
[for=choix5],
[for=choix6],
[for=choix7],
[for=choix8],
[for=choix9],
[for=choix10] {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*--------------------------------*/
/*--- Animations Pages Annexes ---*/
/*--------------------------------*/
/*--- Sélection des plats ---*/
[id=choix1]:checked + label .fa-check-circle,
[id=choix2]:checked + label .fa-check-circle,
[id=choix3]:checked + label .fa-check-circle,
[id=choix4]:checked + label .fa-check-circle,
[id=choix5]:checked + label .fa-check-circle,
[id=choix6]:checked + label .fa-check-circle,
[id=choix7]:checked + label .fa-check-circle,
[id=choix8]:checked + label .fa-check-circle,
[id=choix9]:checked + label .fa-check-circle,
[id=choix10]:checked + label .fa-check-circle {
  display: block;
  animation: rotation_check 1s forwards;
  transform-origin: center;
  transition: transform 1s ease-in;
  -webkit-transition: 1s -webkit-transform;
  -moz-transition: 1s -mos-transform;
  -ms-transition: 1s -ms-transform;
  -o-transition: 1s -o-transform;
}
[id=choix1]:checked + label .validation,
[id=choix2]:checked + label .validation,
[id=choix3]:checked + label .validation,
[id=choix4]:checked + label .validation,
[id=choix5]:checked + label .validation,
[id=choix6]:checked + label .validation,
[id=choix7]:checked + label .validation,
[id=choix8]:checked + label .validation,
[id=choix9]:checked + label .validation,
[id=choix10]:checked + label .validation {
  display: block;
  animation: anim_choix 1s forwards;
  transform-origin: right;
  transition: transform 1s ease-in;
  -webkit-transition: 1s -webkit-transform;
  -moz-transition: 1s -mos-transform;
  -ms-transition: 1s -ms-transform;
  -o-transition: 1s -o-transform;
}
[id=choix1]:checked + label .plats_description,
[id=choix2]:checked + label .plats_description,
[id=choix3]:checked + label .plats_description,
[id=choix4]:checked + label .plats_description,
[id=choix5]:checked + label .plats_description,
[id=choix6]:checked + label .plats_description,
[id=choix7]:checked + label .plats_description,
[id=choix8]:checked + label .plats_description,
[id=choix9]:checked + label .plats_description,
[id=choix10]:checked + label .plats_description {
  margin-right: -1em;
}
[id=choix1]:checked + label .plats_description_prix,
[id=choix2]:checked + label .plats_description_prix,
[id=choix3]:checked + label .plats_description_prix,
[id=choix4]:checked + label .plats_description_prix,
[id=choix5]:checked + label .plats_description_prix,
[id=choix6]:checked + label .plats_description_prix,
[id=choix7]:checked + label .plats_description_prix,
[id=choix8]:checked + label .plats_description_prix,
[id=choix9]:checked + label .plats_description_prix,
[id=choix10]:checked + label .plats_description_prix {
  width: 80%;
  margin-right: -1em;
}

@keyframes rotation_check {
  0% {
    transform: translate(0.5em) rotate(360deg);
  }
  100% {
    transform: translate(0em) rotate(0deg);
  }
}
@keyframes anim_choix {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
/*---Apparition des menus---*/
.menu {
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 2.5em;
  display: flex;
  flex-direction: column;
}

.entree {
  animation: menus 2s backwards;
  transition: 2s;
}

.pprincipal {
  animation: menus 2s backwards;
  transition: 2s;
  animation-delay: 1s;
}

.dessert {
  animation: menus 2s backwards;
  transition: 2s;
  animation-delay: 2s;
}

@keyframes menus {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
/*---Bouton de commande---*/
.btn_pageannexe {
  display: flex;
  justify-content: center;
}

/* ---------------------------------------------------------------- */
/* ----------------------------RESPONSIVE-------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------------------------------------------------- */
/* ---------------------RESPONSIVE PETITS ECRANS------------------- */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  /*--- Accueil ---*/
  /*--- Fonctionnement ---*/
  #section2 .liste_instructions {
    padding-left: 10%;
  }
  #section2 .box {
    width: 80%;
  }

  /*--- Restaurants ---*/
  #liste_restaurants {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #articles .carte {
    width: 80%;
  }

  /*--- Footer ---*/
  footer {
    padding-top: 1.5em;
  }
  footer h2 {
    text-align: center;
  }
  footer .liens_footer {
    align-items: center;
  }

  /*---Pages Annexes---*/
  .header_pages a:hover {
    color: #99E2D0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .h2_pages, .line {
    align-self: flex-start;
  }

  /*--- Ajustement animation de validation des plats ---*/
  [id=choix1]:checked + label .plats_description_prix,
[id=choix2]:checked + label .plats_description_prix,
[id=choix3]:checked + label .plats_description_prix,
[id=choix4]:checked + label .plats_description_prix,
[id=choix5]:checked + label .plats_description_prix,
[id=choix6]:checked + label .plats_description_prix,
[id=choix7]:checked + label .plats_description_prix,
[id=choix8]:checked + label .plats_description_prix,
[id=choix9]:checked + label .plats_description_prix,
[id=choix10]:checked + label .plats_description_prix {
    width: 80%;
  }
}
/* ---------------------------------------------------------------- */
/* -----------------------RESPONSIVE TABLETTE---------------------- */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  /*---Accueil---*/
  /*---Fonctionnement---*/
  #section2 .liste_instructions {
    padding-left: 30%;
  }
  #section2 .box {
    width: 50%;
  }

  /*---Restaurants*/
  #liste_restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  /*---Pages Annexes---*/
  .header_pages a:active {
    color: #99E2D0;
  }

  .menu_complet {
    align-items: center;
  }

  .menu {
    width: 60%;
  }

  /*--- Ajustement animation de validation des plats ---*/
  [id=choix1]:checked + label .plats_description_prix,
[id=choix2]:checked + label .plats_description_prix,
[id=choix3]:checked + label .plats_description_prix,
[id=choix4]:checked + label .plats_description_prix,
[id=choix5]:checked + label .plats_description_prix,
[id=choix6]:checked + label .plats_description_prix,
[id=choix7]:checked + label .plats_description_prix,
[id=choix8]:checked + label .plats_description_prix,
[id=choix9]:checked + label .plats_description_prix,
[id=choix10]:checked + label .plats_description_prix {
    width: 85%;
  }
}
/* ---------------------------------------------------------------- */
/* ---------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS PC-------- */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 962px) {
  #section2 h2 {
    margin-left: 1.5em;
  }

  #section2 .liste_instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3%;
  }
  #section2 .box {
    width: 100%;
  }
  #section2 p {
    padding-right: 1em;
  }

  /*---RESTAURANTS---*/
  #articles h2 {
    margin-left: 1.5em;
  }
  #articles .carte {
    width: 45%;
    margin-bottom: 3em;
    margin: 1em;
  }
  #articles .carte:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }

  #liste_restaurants {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2em;
  }
}
/* ---------------------------------------------------------------- */
/* ----------------------RESPONSIVE DESKTOP------------------------ */
/* ---------------------------------------------------------------- */
@media screen and (min-width: 1264px) {
  /*---SECTION 2---*/
  #section2 h2 {
    margin-left: 1.5em;
  }
  #section2 .liste_instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  #section2 p {
    padding-right: 1em;
  }
  #section2 .box {
    width: 80%;
  }
  #section2 .box:hover {
    background-color: #e9def7de;
  }
  #section2 .instructions {
    width: 80%;
  }

  #section2 > div > div:nth-child(3) > div {
    background-color: #f7f6f6;
  }

  /*---RESTAURANTS---*/
  #articles h2 {
    margin-left: 1.5em;
  }
  #articles .carte {
    width: 35%;
    margin-bottom: 3em;
    margin: 1em;
  }
  #articles .carte:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }

  #liste_restaurants {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2em;
  }

  /*---FOOTER---*/
  footer {
    padding-top: 1.5em;
  }
  footer h2 {
    text-align: center;
  }
  footer .liens_footer {
    align-items: center;
  }

  /*---PAGES ANNEXES---*/
  .titre_pages {
    padding-left: 1em;
    padding-right: 1em;
  }

  .header_pages a:hover {
    color: #99E2D0;
  }

  .h2_pages {
    padding-left: 0em;
  }

  .line {
    margin-left: 0em;
  }

  .menu {
    width: 40%;
  }

  .plats {
    height: 4em;
  }
  .plats:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }
}

/*# sourceMappingURL=style.css.map */
